name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
        - name: Checkout Code
          uses: actions/checkout@v6

        - uses: shivammathur/setup-php@v2
          with:
            extensions: mbstring, json, openssl
            ini-values: memory_limit=-1
            tools: composer:v2
            php-version: '8.4'

        - name: Install Laravel installer
          run: composer global require laravel/installer

        - name: Install Laravel project
          run: composer create-project --prefer-dist laravel/laravel laravel

        - name: Install Dependencies
          uses: ramsey/composer-install@v3
          with:
            working-directory: laravel

        - name: Create Laravel .env file
          run: |
            cd laravel
            cp .env.example .env
            php artisan key:generate

        - name: Build Development Image
          run: docker build . --file Dockerfile --target=php_development --tag docker-php-laravel-aws-ecs-dev:$(date +%s)

        - name: Build Production Image
          run: docker build . --file Dockerfile --target=php_production --tag docker-php-laravel-aws-ecs-prod:$(date +%s)
